:root {
--primary: #ecebeb;
--bg: rgb(173, 22, 22);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
font-family: "Poppins", sans-serif;
background-color: var(--bg);
color: #fff;
}

/*Navbar*/
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1.4rem 7%;
background-color: rgba(239, 236, 236, 0.8);
border-bottom: 1px solid #ecebeb;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 9999;
}

.navbar .navbar-logo {
font-size: 2rem;
font-weight: 700;
color: var(--bg);
}

.navbar .navbar-nav a {
color: var(--bg);
font-weight: 500;
display: inline-block;
font-size: 1.3rem;
margin: 0.5rem;
}

.navbar .navbar-nav a:hover {
color: var(--bg);
}

.navbar .navbar-nav a::after {
content: "";
display: block;
padding-bottom: 0.5rem;
border-bottom: 0.1rem solid var(--bg);
transform: scaleX(0);
transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
transform: scaleX(0.5);
}

.navbar .navbar-extra a {
color: var(--bg);
margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
color: var(--bg);
}

#hamburger-menu {
display: none;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('img/header2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background: linear-gradient(0deg,rgba(173, 22, 22, 0.8) 25%, rgba(255, 250, 250, 0.8) 80%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    color: var(--bg);
    text-shadow: 1px 1px 3px rgba(235, 18, 18, 0.8);
    line-height: 1.2;
}

.hero .content p {
    font-size: 1.6rem;
    color: var(--bg);
    margin-top: 1rem;
    line-height: 1.4;
    text-shadow: 1px 1px 3px rgba(235, 18, 18, 0.8);
}

.hero .content .cta {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: var(--primary);
    background-color: var(--bg);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(235, 18, 18, 0.8);
}

/* About Section */
.about, 
.story{
    padding: 8rem 7% 1.4rem;
}

.about h2, 
.story h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 30rem;
}

.about .row .about-img img {
    border-radius: 10%;
    width: 90%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1 rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.6;
}

/* Story */
.story h2 {
    margin-bottom: 1rem;
}
.story p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 200;
    line-height: 1.6;
}

.story .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.story .row .story-card {
    text-align: center;
    padding-bottom: 4rem;
}

.story .row .story-card img {
    border-radius: 30%;
    width: 80%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.story .row .story-card .story-card-title {
    margin-top: 1rem auto 0.5rem;
}

/* Footer */
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .social a {
    color: #000000;
    margin: 1rem;
}

footer .social a:hover {
    color: var(--bg);
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #000000;
    padding: 0.7rem 1rem;
}

footer .links a:hover {
    color: var(--bg);
}

footer .credit p {
    color: #000000;
    font-weight: 700;
}

footer .credit p a:hover {
    color: var(--bg);
}

footer .credit a {
    color: #000000;
    font-weight: 700;
}

/*Media Display*/

/*Laptop*/
@media (max-width: 1366px) {
html {
    font-size: 75%;
}
}

/*Tablet*/
@media (max-width: 768px) {
html {
    font-size: 62.5%;
}

#hamburger-menu {
    display: inline-block;
}

.navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
}

.navbar .navbar-nav.active {
    right: 0;
}

.navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

.navbar .navbar-nav a::after {
    transform-origin: 0 0;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
}

.about .row {
    flex-wrap: wrap;
}

.about .row .about-img img{
    height: 24rem;
    object-fit: cover;
    object-position: center;
}

.about .row .content {
    padding: 0;
}

.about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
}

.about .row .content p {
    font-size: 1.6rem;
}

.story p {
    font-size: 1.2rem;
}

}

/*Mobile*/
@media (max-width: 450px) {
html {
    font-size: 55%;
}
}
